<!DOCTYPE html>
<html>
<head>
    <title>PeBidi - Default</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {#  <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/maindefault/css/main.css') }}" rel="stylesheet" media="screen">
#}
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>


<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h2 class="masthead-brand"><a href="{{ path('default') }}" >PeBiDi</a></h2>
                    <ul class="nav masthead-nav">                        
                        {% if dictionary is defined %}
                        <li>If it's not your email: {{ dictionary.user.truncateEmail }}<br><a href="{{ path('clearCookies') }}" >Click Here</a></li>
                        {% endif %}
                    </ul>
                    {% if app.request.locale == 'fr' %}
                        <b>fr</b>&nbsp;-&nbsp;<a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}">en</a>
                    {% else  %}
                        <a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'}))}}">fr</a>&nbsp;-&nbsp;<b>en</b>
                    {% endif %}
                </div>
            </div>

            <div class="inner cover">
                <h1>{% block content %}{% endblock %}</h1>

            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Develop by <a href="http://izidot.com">Izidot</a>, Follow us on <a href="https://facebook.com">Facebook</a>.</p>
                </div>
            </div>

        </div>
    </div>

    </div>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
</body>
</html>