{% extends 'MainDefaultBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ 'slogan'|trans }}</h1>
    <p class="lead">{{ 'homepage.explication1'|trans }}</p>
    <p class="lead">
    <form class="form-inline" role="form" action="" method="post">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">{{ 'email.address'|trans }}</label>
            <input class="form-control input-lg" type="email" name="email" placeholder="Email Address">
        </div>
        <button type="submit"  class="btn btn-success input-lg" >{{ 'go'|trans }}</button>
    </form>
    </p>
    <p class="lead">{{ 'homepage.explication2'|trans }}</p>
{% endblock %}


<div><p class="wrcopyright"><a name="usually117"></a> <span dir="auto">WordReference English-<span class="ph" data-ph="sLanguage">French</span> Dictionary © 2015:</span></p></div>
<table class="WRD" onclick='redirectWR(event,"WRenfr")'>
    <tr class="wrtopsection"><td colspan="3" title="Principal Translations"><strong>Principal Translations/Principales traductions</strong></td></tr>
    <tr class="even" id="enfr:6425">
        <td class="FrWrd">
            <strong>usually</strong> <em class="tooltip POS2">adv<span><i>adverb</i>: Describes a verb, adjective, adverb, or clause--for example, "come <b>quickly</b>," "<b>very</b> rare,"  "happening <b>now</b>," "fall <b>down</b>." </span></em>
        </td>
        <td> (most frequently)</td>
        <td class="ToWrd">en général <em class="tooltip POS2">adv<span><i>adverbe</i>: modifie un adjectif ou un verbe. Est toujours invariable ! <i>Ex : "Elle est <b>très</b> grande." "Je marche <b>lentement</b>."</i></span></em>
        </td>
    </tr>
    <tr class="even">
        <td> </td>
        <td> </td>
        <td class="ToWrd">généralement <em class="tooltip POS2">adv<span><i>adverbe</i>: modifie un adjectif ou un verbe. Est toujours invariable ! <i>Ex : "Elle est <b>très</b> grande." "Je marche <b>lentement</b>."</i></span></em>
        </td>
    </tr>
    <tr class="even">
        <td> </td>
        <td colspan="2" class="FrEx">He usually prefers tea to coffee.</td>
    </tr>
    <tr class="even">
        <td> </td>
        <td colspan="2" class="ToEx">Il préfère le thé au café en général.</td>
    </tr>
    <tr class="even">
        <td> </td>
        <td colspan="2" class="ToEx">
            <span title="Cette phrase n'est pas la traduction d'une phrase anglaise.">*</span> Il prend généralement le train pour ses trajets professionnels.</td>
    </tr>
    <tr class="odd" id="enfr:6426">
        <td class="FrWrd">
            <strong>usually</strong> <em class="tooltip POS2">adv<span><i>adverb</i>: Describes a verb, adjective, adverb, or clause--for example, "come <b>quickly</b>," "<b>very</b> rare,"  "happening <b>now</b>," "fall <b>down</b>." </span></em>
        </td>
        <td> (habitually)</td>
        <td class="ToWrd">d'habitude, en général, normalement <em class="tooltip POS2">adv<span><i>adverbe</i>: modifie un adjectif ou un verbe. Est toujours invariable ! <i>Ex : "Elle est <b>très</b> grande." "Je marche <b>lentement</b>."</i></span></em>
        </td>
    </tr>
    <tr class="odd">
        <td> </td>
        <td colspan="2" class="FrEx">I usually have a glass of wine with dinner.</td>
    </tr>
    <tr class="odd">
        <td> </td>
        <td colspan="2" class="ToEx">Je prends un verre de vin avec mon dîner d'habitude.</td>
    </tr>
    <tr class="even" id="enfr:6427">
        <td class="FrWrd">
            <strong>usually</strong> <em class="tooltip POS2">adv<span><i>adverb</i>: Describes a verb, adjective, adverb, or clause--for example, "come <b>quickly</b>," "<b>very</b> rare,"  "happening <b>now</b>," "fall <b>down</b>." </span></em>
        </td>
        <td> (commonly)</td>
        <td class="ToWrd">en général, habituellement <em class="tooltip POS2">adv<span><i>adverbe</i>: modifie un adjectif ou un verbe. Est toujours invariable ! <i>Ex : "Elle est <b>très</b> grande." "Je marche <b>lentement</b>."</i></span></em>
        </td>
    </tr>
    <tr class="even">
        <td> </td>
        <td colspan="2" class="FrEx">Rose bouquets are usually red.</td>
    </tr>
    <tr class="even">
        <td> </td>
        <td colspan="2" class="ToEx">Les roses en bouquet sont rouges en général.</td>
    </tr>
</table>
<table class="WRreporterror"><tr class="odd more">
        <td> </td>
        <td style="text-align:right;"><a target="WRsug" title="Is something important missing? Report an error or suggest an improvement." href="/english/suggestions.aspx?w=usually&amp;dict=enfr">Is something important missing? Report an error or suggest an improvement.</a></td>
    </tr></table>
<div id="mobileAd_holder" style="display:none;"></div>

