{% extends 'MainDefaultBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ 'slogan'|trans }}</h1>
    <p class="lead">{{ 'homepage.explication1'|trans }}</p>
    <p class="lead">
    <form class="form-inline" role="form" action="" method="post">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">{{ 'email.address'|trans }}</label>
            <input class="form-control input-lg" type="email" name="email" placeholder="Email Address">
        </div>
        <button type="submit"  class="btn btn-success input-lg" >{{ 'go'|trans }}</button>
    </form>
    </p>
    <p class="lead">{{ 'homepage.explication2'|trans }}</p>
{% endblock %}

