{% extends 'MainDefaultBundle::layout.html.twig' %}

{% block content %}
    <h1>Welcome!</h1>
    <p class="lead">Enter a new word:</p>
    <p class="lead">
    <form role="form" action="{{ path('newWord', { 'id': dictionary.id }) }}" method="post">
        <div class="form-group">
        {{ form_widget(form.word, { 'attr': {'placeholder': 'New word' } }) }}
        </div>
        <div class="form-group">
        {{ _self.information_prototype(form.translations.0) }}
        </div>
        {{ form_rest(form) }}
        <button type="submit"  class="btn btn-success input-lg" >Save!</button>
    </form>
    </p>
    <p class="lead"><a href="{{ path('dictionary') }}" >View your dictionary</a></p>
    <p class="lead">Do a test</p>
{% endblock %}

{% macro information_prototype(translation) %}
    <div class="informations_widget">
    {{ form_widget(translation.translation, { 'attr': {'placeholder': 'Translation, definition, remarks...' } }) }}
    </div>
{% endmacro %}